.portfolio-header {
  position: relative;
  background-image: url(images/header-bg.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

/* Logo row  */
.portfolio-logo-row {
  min-height: 220px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

/* Actual logo  */
/* .portfolio-logo {
  background: url(images/logotailorbrands5.svg) 50% no-repeat;
  background-size: cover;
  height: 175px;
    margin: auto auto 10px;
    width: 300px;
} */


/* .portfolio-logo {
  background: url(https://gist.githack.com/DjangoAddict/fb1f811b0fbcdc81674f91f72fd68bc4/raw/94d824ce35529ecf2e6a3a161776268a1dad16b5/logo.svg) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
} */


.portfolio-logo {
  background: url(https://gistcdn.githack.com/DjangoAddict/96718af0fc69b810a990230b16b39cff/raw/3558e9fcf6cd3ad144798d4877d4870edcfba0e6/finallylogo.svg) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

/* .portfolio-logo:hover {
  filter: sepia(50%);
  -webkit-filter: sepia(50%);
} */

.portfolio-logo:hover {
  filter: invert(75%);
  -webkit-filter: invert(75%);
}





/* END Actual logo  */


/* Social Media Positioning  */
.social_media {
  position: absolute;
  left: 2%;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.social_media a {
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 2px 0px;
  color: white !important;
}

.social_media i {
  position: relative;
  left: -13px;
}

.contact_and_email {
  position: absolute;
  left: 0;
  top: 100px;
}

.contact_and_email a {
  text-decoration: none;
  font-size: 25px;
}

.newDiv.social_media {
  left: 15%;
  top: 80 px;
}



/* see more button  */
.see_button {
  position: absolute;
  right: 2%;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.see_button a {
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 2px 0px;
  color: white !important;
}

.see_button i {
  position: relative;
  left: -13px;
}


/* end of logo code  */

.is-compact .portfolio-logo {
  height: 90px;
  width: 90px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
}


/* Mobile Friendly  */
@media only screen and (max-width: 767px) {
  .social_media {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
    top: 0px;
}

.contact_and_email  {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
  top: 0px;
}

.contact_and_email a {
  font-size: 20px;
  margin: 0 20px;
}

.social_media.social_media_border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: unset;
}

.newDiv.social_media i {
  left: unset;
}
.newDiv.social_media {
  left: 0;
}
}
